html,
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.App {
  height: 100%;
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  /* background-color: #97caef; */
  /* background-image: url("../src/static/imgs/blue.jpg"); */
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
}

.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
}
.fp-container .fp-loader {
  bottom: 0%;
  right: 0%;
  height: 20%;
  z-index: 100;
  position: absolute;
}

table,
th,
td {
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #374785;
  color: white;
}

h1 {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.table-container {
  height: 50vh;
  overflow: scroll;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {bottom: .5em;
}

.custom {
  padding: 1rem;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.app-content {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 3;
  grid-row-end: 3;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.navbar {
  opacity: 0.9;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}
.dropdown-submenu{
  position: relative;
}
.dropdown-submenu a::after{
  transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%; 
}
@media (max-width: 992px) {
  .dropdown-menu{
      width: 50%;
  }
  .dropdown-menu .dropdown-submenu{
      width: auto;
  }
}
